<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DicomDir" value="F:\Dicom\都昌县三汊港中心卫生院\1.2.156.112605.66988328133799.211022062411.2.10716.16337"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>